In [1]:
#Vikhram

In [2]:
import pandas as pd
folder_name="Latest_ETM_Data"
folder2_name="Match"

In [3]:
#ETM file for a specific date
date=input("Enter the date: ")
ticket_df=pd.read_csv(f'ETM_Data/Ticket-Data-2024-07-{date}.csv')
ticket_df.head()

Enter the date: 01

,id,depot_code,depot,fleet_no,route_service_type,trip_no,ticket_no,date,time,ticket_type,...,conductor_no,waybill_no,schedule_no,payment_type,direction,Trip_Origin,Trip_Destination,total_ticket_amount,KM,duty_date
0,1,KU,Kundrathur Depot,J1832,Deluxe,1,1,01-07-2024,04:17:46,Adult Ticket,...,C58127,T1719774306123563144,S-88K-A-AS,CASH,88K KUD - DOWN,KUNDRATHUR DEPOT,BROADWAY,13.0,30.0,2024-07-01
1,2,KU,Kundrathur Depot,J1832,Deluxe,1,2,01-07-2024,04:21:48,Adult Ticket,...,C58127,T1719774306123563144,S-88K-A-AS,CASH,88K KUD - DOWN,KUNDRATHUR DEPOT,BROADWAY,17.0,30.0,2024-07-01
2,3,KU,Kundrathur Depot,J1832,Deluxe,1,3,01-07-2024,04:22:18,Adult Ticket,...,C58127,T1719774306123563144,S-88K-A-AS,CASH,88K KUD - DOWN,KUNDRATHUR DEPOT,BROADWAY,27.0,30.0,2024-07-01
3,4,KU,Kundrathur Depot,J1832,Deluxe,1,4,01-07-2024,04:22:37,Adult Ticket,...,C58127,T1719774306123563144,S-88K-A-AS,CASH,88K KUD - DOWN,KUNDRATHUR DEPOT,BROADWAY,33.0,30.0,2024-07-01
4,5,KU,Kundrathur Depot,J1832,Deluxe,1,5,01-07-2024,04:22:51,Adult Ticket,...,C58127,T1719774306123563144,S-88K-A-AS,CASH,88K KUD - DOWN,KUNDRATHUR DEPOT,BROADWAY,17.0,30.0,2024-07-01

In [4]:
nan_count_A = ticket_df[ticket_df['source'] == 'Zero Value Ticket'].shape[0]
print("Number of rows with 'ZERO VALUE TICKET' in column 'source':", nan_count_A)

Number of rows with 'ZERO VALUE TICKET' in column 'source': 883905

In [5]:
# #rename the value of sources and destination for mapping
# temp_df=pd.read_csv('renamed_300_OD.csv')
# origin_mapping = temp_df.set_index('OLD Trip_Origin')[" RENAMED TRIP ORIGIN"].to_dict()
# destination_mapping = temp_df.set_index(' OLD Trip_Destination')["RENAMED TRIP DESTINATION"].to_dict()
# combined_mapping = {**origin_mapping, **destination_mapping}
# combined_mapping

In [6]:
# ticket_df["Trip_Origin"] = ticket_df["Trip_Origin"].replace(combined_mapping)
# ticket_df["Trip_Destination"] = ticket_df["Trip_Destination"].replace(combined_mapping)
# ticket_df["Trip_Origin"] = ticket_df["Trip_Origin"].str.upper().str.split().str.join(' ')
# ticket_df["Trip_Destination"] = ticket_df["Trip_Destination"].str.upper().str.split().str.join(' ')

In [7]:
#Direction Route - UP and DOWN 
route_df=pd.read_csv('final_routes_directions.csv')
ticket_df = ticket_df.merge(route_df[['Trip_Origin', 'Trip_Destination', 'Direction_Route']], 
                            on=['Trip_Origin', 'Trip_Destination'], 
                            how='left')

ticket_df.rename(columns={'Direction_Route': 'Direction_route'}, inplace=True)
#ticket_df.to_csv(f'Updated_ticket_data_2024-07-{date}.csv')

In [8]:
ticket_df['source']=ticket_df['source'].str.upper().str.split().str.join(' ')
ticket_df['destination']=ticket_df['destination'].str.upper().str.split().str.join(' ')

In [9]:
stops_df=pd.read_csv('latest_stops_centroid_numbering.csv')
stops_df['DIRECTION'] = stops_df['DIRECTION'].str.upper().str.split().str.join(' ')
stops_df['STOP NAME'] = stops_df['Stop Name'].str.upper().str.split().str.join(' ')
stops_df

,STOP.NO,Stop Name,Stop lat,Stop lon,DIRECTION,CENTROID NUMBERING,CENTROID LAT,CENTROID LONG,STOP NAME
0,10001,High Court,13.085009,80.283447,DOWN,1,13.086887,80.285529,HIGH COURT
1,10002,Flower Bazzar,13.087507,80.281419,UP,2,13.087903,80.281380,FLOWER BAZZAR
2,10003,Broadway,13.088206,80.283890,DOWN,3,13.088206,80.283890,BROADWAY
3,10003,Broadway,13.088206,80.283890,UP,3,13.088206,80.283890,BROADWAY
4,10004,Flower Bazzar,13.088298,80.281341,UP,2,13.087903,80.281380,FLOWER BAZZAR
...,...,...,...,...,...,...,...,...,...
8096,43142,Alampundi Bypass,12.247400,79.335100,UP,3041,12.247413,79.335113,ALAMPUNDI BYPASS
8097,43143,Kilpennathur Bus Stand,12.247058,79.224379,DOWN,3042,12.247058,79.224379,KILPENNATHUR BUS STAND
8098,43143,Kilpennathur Bus Stand,12.247058,79.224379,UP,3042,12.247058,79.224379,KILPENNATHUR BUS STAND
8099,43144,Thiruvanamalai Bus Stand,12.240300,79.073300,DOWN,3043,12.240300,79.073300,THIRUVANAMALAI BUS STAND
8100,43144,Thiruvanamalai Bus Stand,12.240300,79.073300,UP,3043,12.240300,79.073300,THIRUVANAMALAI BUS STAND

In [10]:
ticket_df.shape

(1978353, 28)

In [11]:
#original and renamed stops mapping
final_stops_df= pd.read_csv('stops_mapping.csv')
mapping_stops = final_stops_df.set_index('Stops')['Renamed Stops'].to_dict()

ticket_df['source'] = ticket_df['source'].map(mapping_stops).fillna(ticket_df['source'])
ticket_df['destination'] = ticket_df['destination'].map(mapping_stops).fillna(ticket_df['destination'])

In [12]:
#stops mapping with stop number
stops_df_unique = stops_df.drop_duplicates(subset=['STOP NAME', 'DIRECTION'])

def merge_and_insert(ticket_df, stops_df, stop_column, direction_column):
    ticket_df = ticket_df.merge(
        stops_df[['STOP.NO', 'STOP NAME', 'DIRECTION']],
        how='left',
        left_on=[stop_column, direction_column],
        right_on=['STOP NAME', 'DIRECTION']
    )

    # Rename and extract necessary columns
    stop_no_column = f"{stop_column}_stop_no"
    ticket_df = ticket_df.rename(columns={'STOP.NO': stop_no_column}).drop(columns=['STOP NAME', 'DIRECTION'])
    
    stop_no = ticket_df.pop(stop_no_column)
    stop_index = ticket_df.columns.get_loc(stop_column) + 1  
    ticket_df.insert(stop_index, stop_no_column, stop_no)

    return ticket_df

ticket_df = merge_and_insert(ticket_df, stops_df_unique, 'source', 'Direction_route')
ticket_df = merge_and_insert(ticket_df, stops_df_unique, 'destination', 'Direction_route')

In [13]:
# Filter rows where DIRECTION is NaN
nodirection_stops= stops_df[stops_df['DIRECTION'].isna()]
nodirection_stops

,STOP.NO,Stop Name,Stop lat,Stop lon,DIRECTION,CENTROID NUMBERING,CENTROID LAT,CENTROID LONG,STOP NAME
14,10009,KADUMBADIAMMAN KOVIL,13.094274,80.280369,NaN,6,13.094274,80.280369,KADUMBADIAMMAN KOVIL
23,10014,VASANTHI AMMAN KOIL,13.098335,80.280977,NaN,9,13.098335,80.280977,VASANTHI AMMAN KOIL
24,10014,VILINJAMBAKKAM AMMAN KOIL,13.098335,80.280977,NaN,9,13.098335,80.280977,VILINJAMBAKKAM AMMAN KOIL
86,10053,ENG.COLLEGE,13.106634,80.294955,NaN,26,13.106634,80.294955,ENG.COLLEGE
87,10053,KALSAR ENG.COLLEGE,13.106634,80.294955,NaN,26,13.106634,80.294955,KALSAR ENG.COLLEGE
...,...,...,...,...,...,...,...,...,...
8020,43074,KUNNAVAKKAM,12.846151,79.895788,NaN,3002,12.846151,79.895788,KUNNAVAKKAM
8045,43095,MADHURAMANGALAM ROAD JN,12.952165,79.814266,NaN,3015,12.952165,79.814266,MADHURAMANGALAM ROAD JN
8054,43104,PERLIYAMBAKKAM,12.784657,79.838011,NaN,3020,12.784657,79.838011,PERLIYAMBAKKAM
8063,43112,SELLIMEDU RD JN,12.811010,79.688214,NaN,3024,12.811010,79.688214,SELLIMEDU RD JN
8092,43138,NARIKURAVAR COLONY,12.760537,79.166371,NaN,3039,12.760537,79.166371,NARIKURAVAR COLONY

In [14]:
# Unique stops without considering DIRECTION
nodirection_stops_unique = stops_df[stops_df['DIRECTION'].isna()].drop_duplicates(subset=['STOP NAME'])

def update_stop_no(ticket_df, stops_df, stop_column, stop_no_column):
    # Merge based on 'STOP NAME' only
    updated_df = ticket_df.merge(
        stops_df[['STOP.NO', 'STOP NAME']],
        how='left',
        left_on=stop_column,
        right_on='STOP NAME'
    )
    
    # Only update rows where stop_no_column is NaN
    ticket_df.loc[ticket_df[stop_no_column].isna(), stop_no_column] = updated_df['STOP.NO']
    return ticket_df

# Update only where stop_no_column is NaN
ticket_df = update_stop_no(ticket_df, nodirection_stops_unique, 'source', 'source_stop_no')
ticket_df = update_stop_no(ticket_df, nodirection_stops_unique, 'destination', 'destination_stop_no')

In [15]:
ticket_df.shape

(1978353, 30)

In [16]:
ticket_df = ticket_df.loc[:, ~ticket_df.columns.str.contains('^Unnamed')]
ticket_df.to_csv(f'Temporary_File_{date}.csv')

In [17]:
df=pd.read_csv(f'Temporary_File_{date}.csv',index_col=False)
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df

,id,depot_code,depot,fleet_no,route_service_type,trip_no,ticket_no,date,time,ticket_type,...,waybill_no,schedule_no,payment_type,direction,Trip_Origin,Trip_Destination,total_ticket_amount,KM,duty_date,Direction_route
0,1,KU,Kundrathur Depot,J1832,Deluxe,1,1,01-07-2024,04:17:46,Adult Ticket,...,T1719774306123563144,S-88K-A-AS,CASH,88K KUD - DOWN,KUNDRATHUR DEPOT,BROADWAY,13.0,30.0,2024-07-01,DOWN
1,2,KU,Kundrathur Depot,J1832,Deluxe,1,2,01-07-2024,04:21:48,Adult Ticket,...,T1719774306123563144,S-88K-A-AS,CASH,88K KUD - DOWN,KUNDRATHUR DEPOT,BROADWAY,17.0,30.0,2024-07-01,DOWN
2,3,KU,Kundrathur Depot,J1832,Deluxe,1,3,01-07-2024,04:22:18,Adult Ticket,...,T1719774306123563144,S-88K-A-AS,CASH,88K KUD - DOWN,KUNDRATHUR DEPOT,BROADWAY,27.0,30.0,2024-07-01,DOWN
3,4,KU,Kundrathur Depot,J1832,Deluxe,1,4,01-07-2024,04:22:37,Adult Ticket,...,T1719774306123563144,S-88K-A-AS,CASH,88K KUD - DOWN,KUNDRATHUR DEPOT,BROADWAY,33.0,30.0,2024-07-01,DOWN
4,5,KU,Kundrathur Depot,J1832,Deluxe,1,5,01-07-2024,04:22:51,Adult Ticket,...,T1719774306123563144,S-88K-A-AS,CASH,88K KUD - DOWN,KUNDRATHUR DEPOT,BROADWAY,17.0,30.0,2024-07-01,DOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978348,1978349,SP,Saidapet Depot,J0924,Deluxe,10,339,02-07-2024,05:14:58,Adult Ticket,...,T1719832304164824402,S-51-J-AP,CASH,51 - DOWN,TAMBARAM WEST,SAIDAPET,15.0,26.0,2024-07-01,DOWN
1978349,1978350,SP,Saidapet Depot,J0924,Deluxe,10,340,02-07-2024,05:15:06,Senior Citizen Ticket,...,T1719832304164824402,S-51-J-AP,FREE,51 - DOWN,TAMBARAM WEST,SAIDAPET,0.0,26.0,2024-07-01,DOWN
1978350,1978351,SP,Saidapet Depot,J0924,Deluxe,10,341,02-07-2024,05:15:12,Adult Ticket,...,T1719832304164824402,S-51-J-AP,CASH,51 - DOWN,TAMBARAM WEST,SAIDAPET,15.0,26.0,2024-07-01,DOWN
1978351,1978352,SP,Saidapet Depot,J0924,Deluxe,10,342,02-07-2024,05:17:52,Adult Ticket,...,T1719832304164824402,S-51-J-AP,CASH,51 - DOWN,TAMBARAM WEST,SAIDAPET,13.0,26.0,2024-07-01,DOWN
1978352,1978353,SP,Saidapet Depot,J0924,Deluxe,10,343,02-07-2024,05:23:34,Adult Ticket,...,T1719832304164824402,S-51-J-AP,CASH,51 - DOWN,TAMBARAM WEST,SAIDAPET,22.0,26.0,2024-07-01,DOWN

In [18]:
#number of sources in etm file
source_list=ticket_df['source'].str.upper().unique()
print(len(source_list))

1171

In [19]:
destination_list=ticket_df['destination'].str.upper().unique()
print(len(destination_list))

1168

In [29]:
stop_list=stops_df['STOP NAME'].unique()
source_arr=[]
source_count=0
for name in source_list:
    if name in stop_list: 
        source_count+=1
    else:
        source_arr.append(name)
        
print(len(source_arr))

['ZERO VALUE TICKET',
 nan,
 'I.R.T. RD.JN.',
 'D.P.I',
 'JN. OF R.GARDEN & PEVR H.RD.,']

In [21]:
dest_arr=[]
dest_count=0
for name in destination_list:
    if name in stop_list: 
        dest_count+=1
    else:
        dest_arr.append(name)

print(len(dest_arr))

5

In [22]:
combined_unmatched_stops=source_arr+dest_arr
unique_unmatched_stops=list(set(combined_unmatched_stops))
unique_unmatched_stops = [name for name in unique_unmatched_stops if pd.notna(name) and name.strip()]

unique_unmatched_df = pd.DataFrame(unique_unmatched_stops, columns=['unique_unmatched_stops'])
unique_unmatched_df = unique_unmatched_df.sort_values(by='unique_unmatched_stops').reset_index(drop=True)
unique_unmatched_df.to_csv(f'{folder2_name}/unique_unmatched_stops_{date}.csv', index=False)

unique_unmatched_df

          unique_unmatched_stops
0                          D.P.I
1                  I.R.T. RD.JN.
2  JN. OF R.GARDEN & PEVR H.RD.,
3              ZERO VALUE TICKET

In [23]:
#Zonal Centroid Number for source and destination

In [24]:
#Source 

# stops_df=pd.read_csv('stops_centroid_numbering.csv')
stops_df=pd.read_csv('latest_stops_centroid_numbering.csv')
stops_df['STOP NAME'] = stops_df['Stop Name'].str.upper().str.split().str.join(' ')
stops_df['DIRECTION'] = stops_df['DIRECTION'].str.upper().str.split().str.join(' ')


stops_df_unique = stops_df[['STOP NAME', 'CENTROID NUMBERING']].drop_duplicates(subset='STOP NAME')

df = df.merge(stops_df_unique, 
              left_on='source', 
              right_on='STOP NAME', 
              how='left')

df = df.rename(columns={'CENTROID NUMBERING': 'source_zonal_centroid_number'})

df = df.drop(columns=['STOP NAME'])

cols = df.columns.tolist()
source_idx = cols.index('source_stop_no')
cols.insert(source_idx + 1, cols.pop(cols.index('source_zonal_centroid_number')))
df = df[cols]

In [25]:
#Destination
stops_df_unique = stops_df[['STOP NAME', 'CENTROID NUMBERING']].drop_duplicates(subset='STOP NAME')

df = df.merge(stops_df_unique, 
              left_on='destination', 
              right_on='STOP NAME', 
              how='left')

df = df.rename(columns={'CENTROID NUMBERING': 'destination_zonal_centroid_number'})

df = df.drop(columns=['STOP NAME'])

cols = df.columns.tolist()
destination_idx = cols.index('destination_stop_no')
cols.insert(destination_idx + 1, cols.pop(cols.index('destination_zonal_centroid_number')))
df = df[cols]

In [26]:
#Final etm data with 5 extra columns

In [27]:
df.to_csv(f'{folder_name}/Final_Ticket_data_2024-07-{date}.csv', index=False)
print(f"File saved to {folder_name}/Final_Ticket_data_2024-07-{date}.csv")

File saved to Latest_ETM_Data/Final_Ticket_data_2024-07-01.csv

In [28]:
df.shape

(1978353, 32)